/Monster.Web/node_modules
/Monster.Web/dist
/Monster.App/node_modules
/Monster.App/dist
/Monster.Ap/Monster.Web/bin
/Monster.WebApi/bin
/Monster.WebApi/Download/ExcelExport
/Monster.WebApi/Download/Logger
/Monster.WebApi/Download/SqlLog
/Monster.WebApi/obj
/.vs
/Monster.Entity/bin
/Monster.Entity/obj
/Monster.AppManager/bin
/Monster.AppManager/obj
/Monster.Builder/obj
/Monster.Builder/bin
/Monster.Core/obj
/Monster.Core/bin
/Monster.Order/obj
/Monster.Order/bin
/Monster.System/obj
/Monster.System/bin
/Monster.Business/obj
/Monster.Business/bin
/Monster.Web/obj
/Monster.WebApi/Download/*
/Monster.Web 
